.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: auto;
  align-content: center;

}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  align-self: center;
}


.order-cards{
  top: 20px;
  
  text-align: center;
  filter:drop-shadow(30px 10px 4px #fff);

}
