<!--
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Hdfdere</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
-->
<div class="grid-container">
  <h1>Welcome {{userProfile.firstName}}!</h1>
            <form  (ngSubmit)="signOut()">

  <button mat-raised-button  color="warn" >
  Sign Out</button></form>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            CREATE ORDER
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <form  (ngSubmit)="onSubmit()">

          <div><mat-form-field appearance="fill">
  <mat-label>Amount $USD</mat-label>
  <input matInput type="number" [(ngModel)]="amountUSD" [ngModelOptions]="{standalone: true}">>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Payment Method</mat-label>
  <mat-select [(ngModel)]="paymentMethod" [ngModelOptions]="{standalone: true}">>
    <mat-option value="PayPal">PayPal</mat-option>
    <mat-option value="CashApp(Square)">Cash App(Square)</mat-option>
        <mat-option value="ACH Transfer">ACH TRANSFER</mat-option>
          <mat-option value="ZELLE">ZELLE TRANSFER</mat-option>
          <mat-option value="MOVO PAY">MOVO PAY</mat-option>
            <mat-option value="WESTERN UNION (CASH PICKUP)">WESTERN UNION (CASH PICKUP)</mat-option>
            <mat-option value="Xoom">XOOM</mat-option>
  </mat-select>
</mat-form-field>    
<mat-form-field appearance="fill">
  <mat-label>XMR ADDRESS</mat-label>
  <input matInput type="text" [(ngModel)]="xmrAddress" [ngModelOptions]="{standalone: true}">>
</mat-form-field>   
  
<br>
<button mat-fab color="primary" type="submit">
  <mat-icon>thumb_up</mat-icon></button>

        </div>
              </form>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
                       ACTIVE ORDERS

            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" >
<mat-card *ngFor = "let orders of userOrders" class="order-cards">
  <mat-card-header>
    <mat-card-title>Order Title</mat-card-title>
    <mat-card-subtitle>Amount to send:$ {{orders.amountUSD}}</mat-card-subtitle>
        <mat-card-subtitle>Payment Method: {{orders.paymentMethod}}</mat-card-subtitle>
    <mat-card-subtitle>Recieving XMR Address {{orders.xmrAddress}}</mat-card-subtitle>

  </mat-card-header>
  <mat-card-actions>
    <button mat-button>Mark As Paid</button>
    <button mat-button>Cancel</button>
  </mat-card-actions>
</mat-card>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


<mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
TRANSACTION HISTORY             <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Hdfdere</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Support
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Hdfdere</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>




  </mat-grid-list>
</div>